html, header, body {
  font-size: 16px;
  color: grey;
}

.button {
  background-color: grey;
  border-radius: 5px;
  color: white;
  vertical-align: middle;
  text-align: center;
}

.button:hover {
  background-color: rgba(255, 0, 0, 0.5);
  border: 3px dotted orange;
}

/*--- header ---*/

header {
/*  border: 1px solid red;
  z-index: 1;
  background-color: white;
  position: fixed;
  width: 100%;
*/
  display: flex;
  align-items: center;
  height: 4rem;
  justify-content: space-between;
}

header #lion-logo {
  margin-left: 1.5rem;
}

.logo {
  display: flex;
  align-items: center;
}

#colmar, #academy {
  font-size: 2rem;
}

#colmar {
  color: rgba(128, 128, 128, 1);
}

#academy {
  color: rgba(128, 128, 128, 0.55);
}

header nav ul {
  display: flex;
  align-items: center;
  background-color: teal;
  height: 64px;
}

.filler {
  background-color: teal;
  padding-right: 1rem;
}

header nav ul li a {
  background-color: white;
  padding-top: 23.8px;
  padding-bottom: 23.8px;
}

header ul li:last-child {
  padding-right: 1.5rem;
  background-color: white;
  padding-top: 23.8px;
  padding-bottom: 23.8px;
}

header .mobile-only {
  display: none;
}

@media only screen and (max-width: 500px) {
  header .non-mobile {
    display: none;
  }
  header nav {
    display: flex;
    width: 100%;
    /*note:"justify-content: space-around" only works because we added "width: 100%" to this same section.*/
    justify-content: space-around;
  }

  header .mobile-only {
    display: flex;
    width: 100%;
  }

  header .mobile-only img {
    /*margin: 0 auto;*/
  }

  .mobile-only {
    /*margin: 0 2rem;*/ /*I created this entry to force the icons to spread across the header.  How do I make more dynamic?*/
  }
}

/*--- main image and text ---*/

.container {
  display: flex;
}

.container.master-pic {
  background-color: rgba(211, 211, 211, 0.5);
  max-height: 700px;
}

.container.image {
  margin: 2rem 1.5rem;
  width: 60%;
}

.container img {
  max-width: 100%;
}

.container.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 13rem;
  font-family: arial;
  line-height: 1.5;
  color: rgba(128, 128, 128, 1);
  width: 32%;
}

.container.text h1 {
  font-size: 2rem;
}

.container.text h2 {
  font-size: 1.5rem;
}

.container.text .button { /* Need to have space betwen ".container.text" and ".button" */
  padding: 8px;
  width: 65%;
  line-height: normal;
  margin-top: 1.5rem;
  text-align: center;
}

@media only screen and (max-width: 500px) {
  .container.master-pic {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    padding-bottom: 2rem;
    text-align: left;
  }
  .container.image {
    margin: 0.25rem 0.25rem;
    max-width: 100%;
    max-height: 100%;
  }
  .container.image img {
    max-width: 100%;
    max-height: 100%;
  }
  .container.text {
    padding-top: 2rem;
    font-size: 0.5rem;
    line-height: 1.2rem;
    font-size: 1rem;
    width: 100%;
    align-items: flex-start;
  }
  .button {
    margin: 0 auto;
  }
  .container.text h1, .container.text h2 {
    font-size: 1rem;
    padding-left: 1rem;
  }
}

/*--- additional campus info ---*/

.left-box {
  padding: 2rem 1.5rem;
  width: 60%;
}

.left-box img {
  max-width: 100%;
  margin-bottom: 2rem;
}

.left-box h1, .left-box h2, .left-box h3, .left-box h4, .left-box h5, .left-box h6 {
  margin-left: 1.5rem;
}

.left-box h1 {
  font-size: 2rem;
  padding-bottom: 24px;
}

.left-box h2 {
  font-size: 1.5rem;
  padding-bottom: 24px;
  font-style: italic;
}

.left-box h3 {
  font-size: 1.25rem;
  font-family: arial;
}

.right-box {
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem;
  width: 40%;
  justify-content: space-between;
}

#mini-boxes {
  display: flex;
  margin-bottom: 1rem;
}

#mini-boxes img {
  width: 35%;
  height: 40%;
}

#text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
}

#text span {
  font-size: 1.5rem;
  padding-bottom: 8px;
}

/*--- Course Options ---*/

.learning-container {
  display: flex;
  flex-direction: column;
  padding: 2rem 4.5rem;
  align-items: center;
  background-color: rgba(211, 211, 211, 0.5);
}

#start-learning-title {
  font-weight: bold;
  font-size: 2.5rem;
}

.mini-learning-boxes {
  display: flex;
  flex-wrap: wrap; /*This enables all the boxes to fit on the screen*/
  justify-content: center; /*This centers all the boxes in the screen*/
}

#mini-learning-box {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 2rem;
  max-width: 25%;
}

#mini-learning-box img {
  max-width: 100%; /*This will fit the entire image in each mini-box*/
  margin-bottom: 1rem;
}

#mini-learning-box span {
  padding-bottom: 0.5rem;
  padding-left: 1rem;
}

#mini-learning-box a {
  padding-bottom: 1.5rem;
  padding-left: 1rem;
}

/*--- Thesis section with video ---*/

.thesis-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 1.5rem;
}

#thesis-title {
  font-weight: bold;
  font-size: 2.5rem;
  padding-bottom: 2rem;
}

.thesis-container {
  display: flex;
}

.left-thesis-container {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.left-thesis-container h1 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 2rem;
}

.left-thesis-container h2 {
  font-size: 1.5rem;
}

.right-thesis-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-left: 1.5rem;
}

/*--- Footer section ---*/

footer {
  display: flex;
  justify-content: space-between;
  margin: 1rem 1.5rem;
  padding-top: 1rem;
  height: 70px;
  border-top: 1px solid grey;
}
